In [1]:
#Upload kml file
from pykml import parser
import pandas as pd

with open('../Resources/glims_polygons.kml', 'r', encoding="utf-8") as f:
   root = parser.parse(f).getroot()
#Put kml to dataframe  
places = []
for place in root.Document.Folder.Placemark:
    data = {item.get("name"): item.text for item in
            place.ExtendedData.SchemaData.SimpleData}
    coords = place.Polygon.outerBoundaryIs.LinearRing.coordinates.text.strip()
    data["Coordinates"] = coords
    places.append(data)
df = pd.DataFrame(places)
# print(df)

In [2]:
# df.head()

In [3]:
# df.dtypes

In [19]:
cleaned_df = df[['line_type','anlys_id','area','glac_id','anlys_time','db_area','min_elev','mean_elev','max_elev','primeclass','Coordinates','src_date','rec_status','glac_name','glac_stat',
'gone_date','gone_dt_e','subm_id','release_dt','proc_desc','rc_id','geog_area','conn_lvl','surge_type','term_type','gtng_o1reg','gtng_o2reg',
'rgi_gl_typ','loc_unc_x','glob_unc_y']]

# Counting initial number of rows to make sure we don't somehow lose any.
row_count = cleaned_df.shape[0]
print(f"Number of rows: {row_count}")

Number of rows: 69572

In [5]:
# cleaned_df.head()

In [6]:
# Dictionary to store unique values DataFrames
unique_dfs = {}

# Iterate over each column, get unique values, and create DataFrame
for column in cleaned_df.columns:
    unique_values = cleaned_df[column].unique()
    unique_dfs[column] = pd.DataFrame(unique_values, columns=[f'unique_{column}'])

# for column, unique_df in unique_dfs.items():
#     print(f"Unique values in {column} as DataFrame:")
#     print(unique_df)
#     print()

In [7]:
unique_glac_name = 'glac_name'
glac_name_df = unique_dfs.get(unique_glac_name)

glac_name_df.to_csv('../Resources/glac_name_df.csv', index=False)

In [8]:
# SEE ABOVE FOR DEFINITIONS. ELIMINATING PRIMECLASS, REC_STATUS, SUBM_ID, GONE_DT_E, PROC_DESC, RC_ID, GEOG_AREA, CONN_LVL, SURGE_TYPE, TERM_TYPE, GTNG_O1REG, GTNG_O2REG, RGI_GL_TYP,
# LOC_UNC_X, GLOB_UNC_Y

# SOME ARE NOTES, SOME ARE DEFINITIONS RELEVANT TO SOMEONE. LIKELY NOT TO US. REC_STATUS HAD ONE VALUE; 'OKAY'.

cleaned_df_2 = df[['line_type','anlys_id','area','glac_id','anlys_time','db_area','min_elev','mean_elev','max_elev','Coordinates','src_date','glac_name','glac_stat',
'gone_date','release_dt']]

In [9]:
# making a df copy
cleaned_df_3 = cleaned_df_2.copy()

# glac_stat has two unique values. replaced exists with e and gone with g
cleaned_df_3['glac_stat'] = cleaned_df_3['glac_stat'].replace({'gone': 'g', 'exists': 'e'})

# line_type has three unique values. Replaced debris_cov with dc, glac_bound with gb, intrnl_rock with ir
cleaned_df_3['line_type'] = cleaned_df_3['line_type'].replace({'debris_cov': 'dc', 'glac_bound': 'gb', 'intrnl_rock': 'ir'})

In [10]:
# Changed the times which were strings to times that are datetime objects. Took away the hour and rounded off to a day, which
# wasn't intentional, but we don't need hourly resolution for a measurement of an object that changes very slowly
# and that we are only seeing measurements for a few times per year at most

cleaned_df_3['src_date'] = pd.to_datetime(cleaned_df_3['src_date'])
cleaned_df_3['anlys_time'] = pd.to_datetime(cleaned_df_3['anlys_time'])
cleaned_df_3['release_dt'] = pd.to_datetime(cleaned_df_3['release_dt'])


# Converted the times to unix. Unix times before 1/1/1970 are negative numbers, descending from 0 below 1/1/1970, so they'll still work and be
# convertible and comparable.
# Of note, minimum recording is 12/13/1901, so if there were dates before that, this would not be feasible.

cleaned_df_3['src_date'] = cleaned_df_3['src_date'].apply(lambda x: int(x.timestamp()))
cleaned_df_3['anlys_time'] = cleaned_df_3['anlys_time'].apply(lambda x: int(x.timestamp()))
cleaned_df_3['release_dt'] = cleaned_df_3['release_dt'].apply(lambda x: int(x.timestamp()))

# format for gone_date. the object wasn't recognized as a time like the other was, so I explicitly defined the format.
gone_date_raw_format = '%Y-%m-%d'

# Converting gone_date to datetime.
cleaned_df_3['gone_date'] = pd.to_datetime(cleaned_df_3['gone_date'], format=gone_date_raw_format, errors='coerce')

# Converting gone_date to unix. If the glacier still exists, it's a NaT, so replacing it with e for exists.
nat_replace_if_exists = 'e'
cleaned_df_3['gone_date'] = cleaned_df_3['gone_date'].apply(
    lambda x: int(x.timestamp()) if pd.notna(x) else nat_replace_if_exists
)

In [11]:
# Copying data frame

cleaned_df_4 = cleaned_df_3.copy()

# Converting columns to float. errors='coerce' won't effect 0 values, but any non-number will be converted to nan. Will print between this conversion and
# the formatting just to make sure.

cleaned_df_4['area'] = pd.to_numeric(cleaned_df_4['area'], errors='coerce')
cleaned_df_4['db_area'] = pd.to_numeric(cleaned_df_4['db_area'], errors='coerce')

nat_replace = 'x'

# nan_rows # no nan rows for either area or db_area, so we're good, per the below check.
# nan_rows = cleaned_df_4[cleaned_df_4['db_area'].isna()]

# converting to float with the trailing digits removed. The number is the number of the significant digits we round to.

for column in ['area', 'db_area']:
    cleaned_df_4[column] = cleaned_df_4[column].apply(lambda x: '{:.15g}'.format(x) if pd.notnull(x) else nat_replace)

In [12]:
# Drop the analysis ID column for cleaned_df_5. We LIKELY don't need it.

cleaned_df_5 = cleaned_df_4.drop(columns=['anlys_id'])

In [17]:
# # This is to view how many unique glac_id exist per glac_name.

# cleaned_df_6 = cleaned_df_5.copy()

# # Group by glac_name and count unique glac_id values
# glac_id_counts = cleaned_df_6.groupby('glac_name')['glac_id'].nunique().reset_index()

# # Rename columns for clarity
# glac_id_counts.columns = ['glac_name', 'unique_glac_id_count']

# glac_id_counts

            glac_name  unique_glac_id_count
0                   1                     2
1                  10                     2
2                 100                     2
3                1000                     1
4                1001                     1
...               ...                   ...
1650    Yalik Glacier                     4
1651   Yanert Glacier                     1
1652  Yawning Glacier                     2
1653   Yentna Glacier                     1
1654   Zigzag Glacier                     3

[1655 rows x 2 columns]

In [19]:
filter_value = 'North Swiftcurrent Glacier'

filtered_df_1 = cleaned_df_5[cleaned_df_5['glac_name'] == filter_value]

filtered_df_1

,line_type,area,glac_id,anlys_time,db_area,min_elev,mean_elev,max_elev,Coordinates,src_date,glac_name,glac_stat,gone_date,release_dt
48062,gb,0.061,G246234E48788N,1154390400,0.061358,2213,0,2419,"-113.769141,48.789585,0 -113.769657,48.789447,...",-104544000,North Swiftcurrent Glacier,e,e,1456477200
66417,gb,0.053389,G246234E48788N,1676505600,0.053391,0,0,0,"-113.768572,48.789314,0 -113.768584,48.789317,...",1440201600,North Swiftcurrent Glacier,e,e,1684195200

In [18]:
# We still have the same number of rows. Check the cell above that lists row count for cleaned_df
row_count = cleaned_df_5.shape[0]
print(f"Number of rows: {row_count}")

Number of rows: 69572

In [14]:
cleaned_df.to_csv('../Resources/cleaned_Canada_Glaciers.csv', index=False) #342 megs

In [15]:
cleaned_df_2.to_csv('../Resources/cleaned_df_2.csv', index=False) #313 megs

In [16]:
cleaned_df_3.to_csv('../Resources/cleaned_df_3.csv', index=False) #310 megs

In [17]:
cleaned_df_4.to_csv('../Resources/cleaned_df_4.csv', index=False) #309 megs

In [18]:
cleaned_df_5.to_csv('../Resources/cleaned_df_5.csv', index=False) #309 megs