In [8]:
#Upload kml file
from pykml import parser
import pandas as pd

with open('../Resources/glims_polygons.kml', 'r', encoding="utf-8") as f:
   root = parser.parse(f).getroot()
#Put kml to dataframe  
places = []
for place in root.Document.Folder.Placemark:
    data = {item.get("name"): item.text for item in
            place.ExtendedData.SchemaData.SimpleData}
    coords = place.Polygon.outerBoundaryIs.LinearRing.coordinates.text.strip()
    data["Coordinates"] = coords
    places.append(data)
df = pd.DataFrame(places)
print(df)

        line_type anlys_id         glac_id           anlys_time      area  \
0      debris_cov    58036  G223237E58554N  2006-05-25T07:48:23  0.000000
1      debris_cov    60414  G219795E60080N  2007-08-10T02:33:33  0.000000
2      debris_cov    53065  G222829E58804N  2006-05-29T19:01:21  0.000000
3      debris_cov    58036  G223237E58554N  2006-05-25T07:48:23  0.000000
4      debris_cov    58036  G223237E58554N  2006-05-25T07:48:23  0.000000
...           ...      ...             ...                  ...       ...
69567  glac_bound  1015441  G254310E40448N  2023-02-16T00:00:00  0.015946
69568  glac_bound  1013942  G238806E48169N  2023-02-16T00:00:00  0.011637
69569  glac_bound  1014860  G246279E45318N  2023-02-16T00:00:00  0.024188
69570  glac_bound  1013275  G238224E44172N  2023-02-16T00:00:00  0.039780
69571  glac_bound  1012980  G236365E47891N  2023-02-16T00:00:00  0.391326

          db_area     width    length primeclass min_elev  ... gtng_o1reg  \
0      495.176000  0.000000  0.000000          4        0  ...          1
1      297.560000  0.000000  0.000000          5        0  ...          1
2      162.882000  0.000000  0.000000          5        0  ...          1
3      495.176000  0.000000  0.000000          4        0  ...          1
4      495.176000  0.000000  0.000000          4        0  ...          1
...           ...       ...       ...        ...      ...  ...        ...
69567    0.015945  0.000000  0.000000          7        0  ...          2
69568    0.011638  0.000000  0.000000          7        0  ...          2
69569    0.024188  0.000000  0.000000          7        0  ...          2
69570    0.039780  0.000000  0.000000          6        0  ...          2
69571    0.391327  0.000000  0.000000          6        0  ...          2

      gtng_o2reg rgi_gl_typ loc_unc_x loc_unc_y glob_unc_x glob_unc_y  \
0              6       None         0         0          0          0
1              5       None         0         0          0          0
2              6       None         0         0          0          0
3              6       None         0         0          0          0
4              6       None         0         0          0          0
...          ...        ...       ...       ...        ...        ...
69567          5       None        50        50         80         80
69568          4       None        50        50         80         80
69569          5       None        50        50         80         80
69570          4       None        50        50         80         80
69571          4       None        50        50         80         80

                submitters                                           analysts  \
0          Beedle, Matthew                                    Beedle, Matthew
1          Beedle, Matthew                                    Beedle, Matthew
2          Beedle, Matthew                                    Beedle, Matthew
3          Beedle, Matthew                                    Beedle, Matthew
4          Beedle, Matthew                                    Beedle, Matthew
...                    ...                                                ...
69567  Fountain, Andrew G.  Fountain, Andrew G.; Glenn, Bryce; McNeil, Chr...
69568  Fountain, Andrew G.  Fountain, Andrew G.; Glenn, Bryce; McNeil, Chr...
69569  Fountain, Andrew G.  Fountain, Andrew G.; Glenn, Bryce; McNeil, Chr...
69570  Fountain, Andrew G.  Fountain, Andrew G.; Glenn, Bryce; McNeil, Chr...
69571  Fountain, Andrew G.  Fountain, Andrew G.; Glenn, Bryce; McNeil, Chr...

                                             Coordinates
0      -136.675873,58.385483,0 -136.676813,58.387326,...
1      -140.10202,59.96069,0 -140.10224,59.9621,0 -14...
2      -137.260638,58.805875,0 -137.261537,58.806039,...
3      -136.662581,58.464275,0 -136.661874,58.46309,0...
4      -136.652551,58.490007,0 -136.651197,58.490664,...
...                                                  ...
69567  -105.690397,40.449164,0 -105.690369,40.449137,...
69568  -121.193295,48.16877,0 -121.19337,48.168795,0 ...
69569  -113.72218,45.31765,0 -113.722174,45.31765,0 -...
69570  -121.777004,44.173283,0 -121.776979,44.173262,...
69571  -123.63685,47.891797,0 -123.636842,47.891785,0...

[69572 rows x 39 columns]

In [2]:
df.head()

,line_type,anlys_id,glac_id,anlys_time,area,db_area,width,length,primeclass,min_elev,...,gtng_o1reg,gtng_o2reg,rgi_gl_typ,loc_unc_x,loc_unc_y,glob_unc_x,glob_unc_y,submitters,analysts,Coordinates
0,debris_cov,58036,G223237E58554N,2006-05-25T07:48:23,0.000000,495.176000,0.000000,0.000000,4,0,...,1,6,None,0,0,0,0,"Beedle, Matthew","Beedle, Matthew","-136.675873,58.385483,0 -136.676813,58.387326,..."
1,debris_cov,60414,G219795E60080N,2007-08-10T02:33:33,0.000000,297.560000,0.000000,0.000000,5,0,...,1,5,None,0,0,0,0,"Beedle, Matthew","Beedle, Matthew","-140.10202,59.96069,0 -140.10224,59.9621,0 -14..."
2,debris_cov,53065,G222829E58804N,2006-05-29T19:01:21,0.000000,162.882000,0.000000,0.000000,5,0,...,1,6,None,0,0,0,0,"Beedle, Matthew","Beedle, Matthew","-137.260638,58.805875,0 -137.261537,58.806039,..."
3,debris_cov,58036,G223237E58554N,2006-05-25T07:48:23,0.000000,495.176000,0.000000,0.000000,4,0,...,1,6,None,0,0,0,0,"Beedle, Matthew","Beedle, Matthew","-136.662581,58.464275,0 -136.661874,58.46309,0..."
4,debris_cov,58036,G223237E58554N,2006-05-25T07:48:23,0.000000,495.176000,0.000000,0.000000,4,0,...,1,6,None,0,0,0,0,"Beedle, Matthew","Beedle, Matthew","-136.652551,58.490007,0 -136.651197,58.490664,..."

In [3]:
df.dtypes

line_type      object
anlys_id       object
glac_id        object
anlys_time     object
area           object
db_area        object
width          object
length         object
primeclass     object
min_elev       object
mean_elev      object
max_elev       object
src_date       object
rec_status     object
glac_name      object
wgms_id        object
local_id       object
glac_stat      object
gone_date      object
gone_dt_e      object
subm_id        object
release_dt     object
proc_desc      object
rc_id          object
geog_area      object
chief_affl     object
conn_lvl       object
surge_type     object
term_type      object
gtng_o1reg     object
gtng_o2reg     object
rgi_gl_typ     object
loc_unc_x      object
loc_unc_y      object
glob_unc_x     object
glob_unc_y     object
submitters     object
analysts       object
Coordinates    object
dtype: object

In [4]:
cleaned_df = df[['line_type','anlys_id','area','glac_id','anlys_time','db_area','min_elev','mean_elev','max_elev','primeclass','Coordinates','src_date','rec_status','glac_name','glac_stat',
'gone_date','gone_dt_e','subm_id','release_dt','proc_desc','rc_id','geog_area','conn_lvl','surge_type','term_type','gtng_o1reg','gtng_o2reg',
'rgi_gl_typ','loc_unc_x','glob_unc_y']]

In [5]:
cleaned_df.head()

,line_type,anlys_id,area,glac_id,anlys_time,db_area,min_elev,mean_elev,max_elev,primeclass,...,rc_id,geog_area,conn_lvl,surge_type,term_type,gtng_o1reg,gtng_o2reg,rgi_gl_typ,loc_unc_x,glob_unc_y
0,debris_cov,58036,0.000000,G223237E58554N,2006-05-25T07:48:23,495.176000,0,0,0,4,...,602,Various (NSIDC),0,0,9,1,6,None,0,0
1,debris_cov,60414,0.000000,G219795E60080N,2007-08-10T02:33:33,297.560000,0,0,0,5,...,602,Various (NSIDC),0,0,9,1,5,None,0,0
2,debris_cov,53065,0.000000,G222829E58804N,2006-05-29T19:01:21,162.882000,0,0,0,5,...,602,Various (NSIDC),0,0,9,1,6,None,0,0
3,debris_cov,58036,0.000000,G223237E58554N,2006-05-25T07:48:23,495.176000,0,0,0,4,...,602,Various (NSIDC),0,0,9,1,6,None,0,0
4,debris_cov,58036,0.000000,G223237E58554N,2006-05-25T07:48:23,495.176000,0,0,0,4,...,602,Various (NSIDC),0,0,9,1,6,None,0,0

In [6]:
cleaned_df.to_csv('../Resources/cleaned_Canada_Glaciers.csv', index=False)