In [4]:
# Dependencies
import json
import requests
import pandas as pd

In [6]:
Temperature_url="/Users/zahra/Bootcamp/Project_4_USA_Glaciers/Resources/Monthly_Avg_Temp_1990_2024.csv"
temperature_df = pd.read_csv(Temperature_url, encoding='utf-8', on_bad_lines='skip')  
temperature_df

       Date  Value  Anomaly
0    199001  36.48     6.36
1    199002  36.59     4.62
2    199003  39.31     4.16
3    199004  42.61     3.49
4    199005  45.86     2.53
..      ...    ...      ...
409  202402  36.40     4.43
410  202403  39.27     4.12
411  202404  42.86     3.74
412  202405  46.75     3.42
413  202406  50.93     3.41

[414 rows x 3 columns]

In [ ]:
Glasier_url="/Users/zahra/Bootcamp/Project_4_USA_Glaciers/Resources/Monthly_Avg_Temp_1990_2024.csv"
temperature_df = pd.read_csv(Temperature_url, encoding='utf-8', on_bad_lines='skip')  
temperature_df