In [1]:
# Dependencies
import json
import requests
import pandas as pd

In [2]:
Temperature_url="/Users/zahra/Bootcamp/Project_4_USA_Glaciers/Resources/Monthly_Avg_Temp_1990_2024.csv"
temperature_df = pd.read_csv(Temperature_url, encoding='utf-8', on_bad_lines='skip')  
temperature_df

       Date  Value  Anomaly
0    199001  36.48     6.36
1    199002  36.59     4.62
2    199003  39.31     4.16
3    199004  42.61     3.49
4    199005  45.86     2.53
..      ...    ...      ...
409  202402  36.40     4.43
410  202403  39.27     4.12
411  202404  42.86     3.74
412  202405  46.75     3.42
413  202406  50.93     3.41

[414 rows x 3 columns]

In [5]:
Glasier_url="/Users/zahra/Bootcamp/Project_4_USA_Glaciers/Resources/us_glaciers_data_1.csv"
Glasier_df = pd.read_csv(Glasier_url, encoding='utf-8', on_bad_lines='skip')  
Glasier_df

,Unnamed: 0,line_type,area,glac_id,anlys_time,db_area,min_elev,mean_elev,max_elev,src_date,glac_name,glac_stat,gone_date,release_dt,first_coordinate,lng,lat,cluster,closest_cluster_lat,closest_cluster_lng
0,0,dc,0.000000,G223237E58554N,1148543303,495.176000,0,0,0,933465600,Brady Glacier,e,e,1177210698,"-136.675873,58.385483",-136.675873,58.385483,27,58.955132,-136.541022
1,1,dc,0.000000,G219795E60080N,1186713213,297.560000,0,0,0,995500800,Marvine/Hayden Glacier,e,e,1192067393,"-140.10202,59.96069",-140.102020,59.960690,38,59.872209,-139.311547
2,2,dc,0.000000,G222829E58804N,1148929281,162.882000,0,0,0,933465600,Johns Hopkins Glacier,e,e,1150232094,"-137.260638,58.805875",-137.260638,58.805875,48,58.791778,-137.327807
3,3,dc,0.000000,G223237E58554N,1148543303,495.176000,0,0,0,933465600,Brady Glacier,e,e,1177210698,"-136.662581,58.464275",-136.662581,58.464275,27,58.955132,-136.541022
4,4,dc,0.000000,G223237E58554N,1148543303,495.176000,0,0,0,933465600,Brady Glacier,e,e,1177210698,"-136.652551,58.490007",-136.652551,58.490007,27,58.955132,-136.541022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21533,69561,gb,0.016650,G236764E47851N,1676505600,0.016653,0,0,0,1441756800,WA,e,e,1684195200,"-123.235694,47.850382",-123.235694,47.850382,1,47.776271,-123.499451
21534,69563,gb,0.610026,G236663E47729N,1676505600,0.610024,0,0,0,1441756800,Eel Glacier,e,e,1684195200,"-123.337537,47.724574",-123.337537,47.724574,1,47.776271,-123.499451
21535,69564,gb,0.010210,G238715E48917N,1676505600,0.010209,0,0,0,1441756800,WA,e,e,1684195200,"-121.284829,48.915118",-121.284829,48.915118,43,48.825866,-121.475250
21536,69565,gb,2.180240,G238901E48124N,1676505600,2.180240,0,0,0,1441756800,Chocolate Glacier,e,e,1684195200,"-121.0775,48.117744",-121.077500,48.117744,14,47.951310,-121.109655
21537,69571,gb,0.391326,G236365E47891N,1676505600,0.391327,0,0,0,1441756800,Carrie Glacier,e,e,1684195200,"-123.63685,47.891797",-123.636850,47.891797,1,47.776271,-123.499451